soundLooper/install/news/news.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="ArrayOfPerson">
    <xs:complexType>
    <xs:sequence>
    <xs:element name="Person" type="xs:Person" maxOccurs="20" />
    </xs:sequence>
    </xs:complexType>
    </xs:element>
    <xs:complexType name="Adress">
    <xs:sequence>
    <xs:element name="Street" type="xs:string" />
    <xs:element name="City" type="xs:string" />
    <xs:element name="Number" type="xs:short" />
    <xs:element name="Zip" type="xs:short" />
    </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Person">
    <xs:sequence>
    <xs:element name="Name" type="xs:string" />
    <xs:element name="PersonId" type="xs:int" />
    <xs:element name="Sex" type="xs:int" />
    <xs:element name="Adress" type="xs:Adress" />
    </xs:sequence>
    </xs:complexType>
</xs:schema>

